.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);

  h1 {
    color: #ffffff;
    margin-left: 10px;
  }

  &__Wrapper {
    width: 600px;
  }
}