.FinishedQuiz {
  padding: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    i {
      margin-left: 10px;
    }
  }
}

.success {
  color: rgba(161,240,69, .7);
}

.error {
  color: rgba(140,87,108, .7);
}