.AnswerItem {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255,255,255, .2);
    transition: background .3s ease-in-out;
  }

  &.success {
    background-color: rgba(161,240,69, .7);
  }

  &.error {
    background-color: rgba(140,87,108, .7);
  }
}