.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);

  & > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }

  h1 {
    color: #ffffff;
    text-align: center;
  }
}

.AuthForm {
  background: #eeeeee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  padding: 15px;
  border-radius: 5px;
}