.MenuToggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  z-index: 100;
  transition: opacity, left .22s ease-in;

  &:hover {
    opacity: 70%;
  }

  &.open {
    left: 320px;
  }
}